a {
  color: blue;
  text-decoration: underline;
}

.message {
  margin-bottom: 10px;
}

.username-form {
	position: fixed;
	top: 50%;
}

.message-options {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}